<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,99"
    gameType="DIGITAL | PS4"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Multiplataforma"
    gamePrice="R$ 299,99"
    gameType="DISC | PS4"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,99"
    gameType="DIGITAL | PS4"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="Multiplataforma"
    gamePrice="R$ 299,99"
    gameType="DISC | PS4"
  >
  </app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 199,99"
    gameType="DISC | PS4"
  >
  </app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Multiplataforma"
    gamePrice="R$ 299,99"
    gameType="DISC | PS4"
  >
  </app-card>
</div>

